<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Todas las citas</title>
    </head>
    <body>
        <p>Todas las citas</p>
        <table>
            <thead>
                <tr>
                    <th>Nombre del cliente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in data %}
                    <tr>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>